header, footer {
    background-color: #2c3e50;
    color: #fff;
}

header nav {
    font-weight: bold;
}

.ms_grow-h1 {
    flex-grow: 1;
}


.ms_nav-link-color {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.ms_nav-link-color:hover {
    text-decoration: underline;
    color: #fff;
}

.ms_no-grow {
    flex-grow: 0;
}

.ms_icon-bg {
    border: 1px #ccc solid;
}

.ms_icon-img {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    opacity: 0.5;
}
/* ----------------------------------MAIN---------------------------- */

.ms_background-a {
    background-color: #1abc9c;
    color: #fff;
}

.ms_background-b {
    background-color: #fff;
}

.ms_background-c {
    background-color: #3a546d;
    color: #fff;
}

.ms_star {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.ms_star hr {
    display: inline-block;
    border: 2px solid;
    width: 100px;
    margin: 0 10px;
    opacity: 1;
}

/* parte uno  */
.text-center img {
    height: 120px;
}

/* parte due  */
.ms_radius {
    border-radius: 10px;
}

/* parte tre  */
.ms_download span{
    font-size: 12px;
    padding: 7px 5px;
    border: #fff 1px solid;
    border-radius: 10px;
}

.ms_download span:hover {
    color: #1abc9c;
    background-color: #fff;
}

/* parte quattro  */
input,
textarea {
    border: none;
    border-bottom: 1px solid #bbb;
    width: 100%;
}

input {
    display: block;
}

*::placeholder {
    color: #000;
}

.ms_button-bg {
    background-color: #1abc9c;
    color: #fff;
}

/* ultima parte  */
.ms_logo {
    font-size: 25px;
    padding: 9px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.ms_logo:hover {
    color: #3a546d;
    background-color: #fff;
}

.fa-facebook-f.ms_logo {
    padding: 9px 15px;
}

.fa-google-plus-g.ms_logo {
    padding: 9px 8px;
}

.fa-linkedin.ms_logo {
    padding: 9px 12px;
}

.ms_green-text {
    color: #1abc9c;
}

.ms_green-text:hover {
    text-decoration: underline;
}

/* --------------------------FOOTER-------------------------------------- */
.ms_vertical-align {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 12px;
    padding: 20px 0;
}

.ms_spacing-logo {
    margin: 0 5px;
}

